In [1]:
# supervised machine learning regression scenario

# Predicting Salary of Software Developers

## Data Collection

In [2]:
# Bringing in some general use case libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Read the data using pandas and make a copy
df = pd.read_csv('../datasets/full/2020/survey_results_public.csv', na_values='?', comment = '\t', sep=',', skipinitialspace=True)

data = df.copy()

In [7]:
# Confirming the data read was successful
data.sample(20)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
34154,34279,I am a developer by profession,No,34.0,19,Yearly,31000.0,40070.0,United Kingdom,Pound sterling,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,Django;jQuery,Just as welcome now as I felt last year,30.0,5,3
50007,51037,I am a developer by profession,Yes,33.0,15,Monthly,550000.0,18108.0,Nigeria,Nigerian naira,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET;ASP.NET Core;React.js;Vue.js,Angular;Angular.js;ASP.NET;ASP.NET Core;Flask;...,Just as welcome now as I felt last year,50.0,15,8
6288,6314,I am a developer by profession,Yes,24.0,17,Monthly,NaN,NaN,Philippines,Philippine peso,...,Neither easy nor difficult,Appropriate in length,No,"Information systems, information technology, o...",Angular;Angular.js;ASP.NET;ASP.NET Core;Django...,jQuery;Laravel;Ruby on Rails;Symfony;Vue.js,A lot more welcome now than last year,40.0,5,1
26275,26372,I am a student who is learning to code,Yes,NaN,23,NaN,NaN,NaN,Kenya,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Angular;Angular.js;Django;Flask;Laravel;React....,NaN,NaN,NaN,2,NaN
23779,23869,I am a developer by profession,Yes,33.0,14,Yearly,100000.0,100000.0,United States,United States dollar,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js,React.js;Spring,Just as welcome now as I felt last year,40.0,12,8
881,883,I am a developer by profession,Yes,35.0,30,Yearly,82000.0,82000.0,United States,United States dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",Flask,Flask,Just as welcome now as I felt last year,40.0,5,1
10409,10442,I am a developer by profession,Yes,34.0,21,Monthly,15000.0,29580.0,Turkey,Turkish lira,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;jQuery,Django;jQuery,Just as welcome now as I felt last year,45.0,14,10
2514,2526,I am a developer by profession,Yes,22.0,17,Yearly,64000.0,64000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",React.js;Vue.js,jQuery;React.js;Vue.js,Just as welcome now as I felt last year,40.0,5,2
4784,4800,I am a developer by profession,Yes,35.0,15,Monthly,4700.0,60972.0,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,Fine arts or performing arts (such as graphic ...,Angular;Django;Flask,Angular;Django;Flask,Just as welcome now as I felt last year,40.0,7,4
14724,14770,I am a developer by profession,Yes,50.0,13,Monthly,10000.0,27492.0,Brazil,Brazilian real,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET Core,A lot more welcome now than last year,10.0,36,35
51294,52359,I am a developer by profession,No,38.0,18,Yearly,150000.0,150000.0,United States,United States dollar,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,40.0,20,16
38922,39396,"I am not primarily a developer, but I write co...",Yes,NaN,NaN,NaN,NaN,NaN,Israel,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39461,39980,I am a developer by profession,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,...,NaN,NaN,NaN,NaN,Express;Gatsby;Laravel;Vue.js,Express;Gatsby;React.js;Vue.js,NaN,NaN,NaN,NaN
32630,32750,I am a developer by profession,Yes,NaN,8,Yearly,60000.0,60000.0,Japan,United States dollar,...,Neither easy nor difficult,Too long,No,NaN,Angular;Express;Flask,Angular;Angular.js;Express;Flask;jQuery;Symfony,Just as welcome now as I felt last year,45.0,37,23
5875,5899,I am a developer by profession,No,35.0,16,Yearly,1600000.0,1000000.0,Canada,Canadian dollar,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",React.js,React.js,Just as welcome now as I felt last year,40.0,19,15
4873,4891,I am a developer by profession,No,NaN,18,Yearly,63000.0,42090.0,Australia,Australian dollar,...,Neither easy nor difficult,Appropriate in length,NaN,"Another engineering discipline (such as civil,...",Angular;jQuery;React.js,NaN,Just as welcome now as I felt last year,38.0,6,3
7047,7076,I am a developer by profession,Yes,42.0,11,Yearly,105000.0,106731.0,Switzerland,Swiss franc,...,Easy,Appropriate in length,No,Mathematics or statistics,NaN,Express;jQuery,Just as welcome now as I felt last year,40.0,30,15
7034,7063,I am a developer by profession,Yes,23.0,15,NaN,NaN,NaN,India,NaN,...,Easy,Too long,No,"Computer science, computer engineering, or sof...",NaN,jQuery,Somewhat more welcome now than last year,NaN,8,NaN
26941,27040,I am a student who is learning to code,No,32.0,23,NaN,NaN,NaN,Kenya,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Flask;React.js,Django,Not applicable - I did not use Stack Overflow ...,NaN,5,NaN
53429,54521,I am a student who is learning to code,Yes,16.0,12,NaN,NaN,NaN,Indonesia,NaN,...,Easy,Appropriate in length,No,I never declared a major,Express;React.js;Vue.js,Express;Laravel;Vue.js,Just as welcome now as I felt last year,NaN,4,NaN

### Problem Statement:
The data contains ConvertedComp data which is continous data and tells us the total compensation of the developer.

The aim is to **predict the total compensation for a developer** given we have the feature variables for a potential candidate.

In [8]:
# Looking at information about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Respondent                    64461 non-null  int64
 1   MainBranch                    64162 non-null  object
 2   Hobbyist                      64416 non-null  object
 3   Age                           45446 non-null  float64
 4   Age1stCode                    57900 non-null  object
 5   CompFreq                      40069 non-null  object
 6   CompTotal                     34826 non-null  float64
 7   ConvertedComp                 34756 non-null  float64
 8   Country                       64072 non-null  object
 9   CurrencyDesc                  45472 non-null  object
 10  CurrencySymbol                45468 non-null  object
 11  DatabaseDesireNextYear        44067 non-null  object
 12  DatabaseWorkedWith            49534 non-null  object
 13  DevType                       49367 non-null  object
 14  EdLevel                       57428 non-null  object
 15  Employment                    63850 non-null  object
 16  Ethnicity                     45945 non-null  object
 17  Gender                        50555 non-null  object
 18  JobFactors                    49345 non-null  object
 19  JobSat                        45190 non-null  object
 20  JobSeek                       51723 non-null  object
 21  LanguageDesireNextYear        54109 non-null  object
 22  LanguageWorkedWith            57375 non-null  object
 23  MiscTechDesireNextYear        42376 non-null  object
 24  MiscTechWorkedWith            40311 non-null  object
 25  NEWCollabToolsDesireNextYear  47283 non-null  object
 26  NEWCollabToolsWorkedWith      52880 non-null  object
 27  NEWDevOps                     42682 non-null  object
 28  NEWDevOpsImpt                 41728 non-null  object
 29  NEWEdImpt                     48461 non-null  object
 30  NEWJobHunt                    42282 non-null  object
 31  NEWJobHuntResearch            41018 non-null  object
 32  NEWLearn                      56152 non-null  object
 33  NEWOffTopic                   50801 non-null  object
 34  NEWOnboardGood                42619 non-null  object
 35  NEWOtherComms                 57201 non-null  object
 36  NEWOvertime                   43227 non-null  object
 37  NEWPurchaseResearch           37317 non-null  object
 38  NEWPurpleLink                 54799 non-null  object
 39  NEWSOSites                    58271 non-null  object
 40  NEWStuck                      54979 non-null  object
 41  OpSys                         56224 non-null  object
 42  OrgSize                       44331 non-null  object
 43  PlatformDesireNextYear        50601 non-null  object
 44  PlatformWorkedWith            53840 non-null  object
 45  PurchaseWhat                  39360 non-null  object
 46  Sexuality                     43989 non-null  object
 47  SOAccount                     56802 non-null  object
 48  SOComm                        56473 non-null  object
 49  SOPartFreq                    46790 non-null  object
 50  SOVisitFreq                   56967 non-null  object
 51  SurveyEase                    51798 non-null  object
 52  SurveyLength                  51697 non-null  object
 53  Trans                         49342 non-null  object
 54  UndergradMajor                50992 non-null  object
 55  WebframeDesireNextYear        40021 non-null  object
 56  WebframeWorkedWith            42276 non-null  object
 57  WelcomeChange                 52680 non-null  object
 58  WorkWeekHrs                   41147 non-null  float64
 59  YearsCode                     57680 non-null  object
 60  YearsCodePro                  46345 non-null  object
dtypes: float64(4), int64(1), object(56)
memory usage: 30.0+ MB

In [16]:
# Data set contains 60 columns, we only want to focus on some of those
data.drop(['Respondent', 'MainBranch', 'Hobbyist', 'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'DevType', 'Employment', 'Ethnicity', 'Gender', 'JobFactors', 'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith', 'MiscTechDesireNextYear', 'MiscTechWorkedWith', 'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps'], axis=1, inplace=True)

In [17]:
# Looking at information about the data after dropping some columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     45446 non-null  float64
 1   Age1stCode              57900 non-null  object
 2   CompFreq                40069 non-null  object
 3   CompTotal               34826 non-null  float64
 4   ConvertedComp           34756 non-null  float64
 5   Country                 64072 non-null  object
 6   CurrencyDesc            45472 non-null  object
 7   EdLevel                 57428 non-null  object
 8   NEWDevOpsImpt           41728 non-null  object
 9   NEWEdImpt               48461 non-null  object
 10  NEWJobHunt              42282 non-null  object
 11  NEWJobHuntResearch      41018 non-null  object
 12  NEWLearn                56152 non-null  object
 13  NEWOffTopic             50801 non-null  object
 14  NEWOnboardGood          42619 non-null  object
 15  NEWOtherComms           57201 non-null  object
 16  NEWOvertime             43227 non-null  object
 17  NEWPurchaseResearch     37317 non-null  object
 18  NEWPurpleLink           54799 non-null  object
 19  NEWSOSites              58271 non-null  object
 20  NEWStuck                54979 non-null  object
 21  OpSys                   56224 non-null  object
 22  OrgSize                 44331 non-null  object
 23  PlatformDesireNextYear  50601 non-null  object
 24  PlatformWorkedWith      53840 non-null  object
 25  PurchaseWhat            39360 non-null  object
 26  Sexuality               43989 non-null  object
 27  SOAccount               56802 non-null  object
 28  SOComm                  56473 non-null  object
 29  SOPartFreq              46790 non-null  object
 30  SOVisitFreq             56967 non-null  object
 31  SurveyEase              51798 non-null  object
 32  SurveyLength            51697 non-null  object
 33  Trans                   49342 non-null  object
 34  UndergradMajor          50992 non-null  object
 35  WebframeDesireNextYear  40021 non-null  object
 36  WebframeWorkedWith      42276 non-null  object
 37  WelcomeChange           52680 non-null  object
 38  WorkWeekHrs             41147 non-null  float64
 39  YearsCode               57680 non-null  object
dtypes: float64(4), object(36)
memory usage: 19.7+ MB

In [18]:
# Data set contains 60 columns, we only want to focus on some of those...removing more
data.drop(['NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch', 'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms', 'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites', 'NEWStuck', 'OpSys', 'Sexuality', 'SOAccount', 'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength', 'Trans', 'UndergradMajor', 'WebframeDesireNextYear', 'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs'], axis=1, inplace=True)

In [19]:
# Looking at information about the data after dropping more columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64461 entries, 0 to 64460
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     45446 non-null  float64
 1   Age1stCode              57900 non-null  object
 2   CompFreq                40069 non-null  object
 3   CompTotal               34826 non-null  float64
 4   ConvertedComp           34756 non-null  float64
 5   Country                 64072 non-null  object
 6   CurrencyDesc            45472 non-null  object
 7   EdLevel                 57428 non-null  object
 8   OrgSize                 44331 non-null  object
 9   PlatformDesireNextYear  50601 non-null  object
 10  PlatformWorkedWith      53840 non-null  object
 11  PurchaseWhat            39360 non-null  object
 12  YearsCode               57680 non-null  object
dtypes: float64(3), object(10)
memory usage: 6.4+ MB

In [20]:
# Data set contains 60 columns, we only want to focus on some of those...removing more
data.drop(['OrgSize', 'PlatformDesireNextYear', 'PlatformWorkedWith', 'PurchaseWhat'], axis=1, inplace=True)

In [ ]:
data.info()